@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';
@import '../../Styles/breakpoints.scss';

.projects-cards{
    background-color: $bg-color;
    flex: 2 1 0;
    border-radius: $container-border-radius;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 3rem;

    .card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(221,36,118,1);
        border-radius: $card-border-radius;
        overflow: hidden;
        width: 20%;
        min-width: 270px;
        max-height: fit-content;
        @include media('<=tablet'){
            width: 90%;
        }

        @include media('<=big-phone'){
            min-width: 220px;
        }

        @include media('<=phone'){
            min-width: 160px;
        }

        img{
            width: 100%;
        }

        .info{
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-inline: 5%;
            margin-block: 20px;
            align-items: center;

            h3{
                color: $text-color;
                @include media('<=big-phone'){
                    font-size: 13px;
                }
            }
            
            .btn{
                @include btn;
                border-radius: $card-border-radius;
                border: none;
                font-size: 13px;
                cursor: pointer;
                font-weight: bold;
                @include media('<=big-phone'){
                    font-size: 8px;
                    padding: 0.5rem 0.6rem;
                }

                &:hover{
                    background: $gradient-hover;
                }
            }
        }
    }

}
.outside-modal{
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    @include center;
}

.modal-content{
    width: 90%;
    max-width: 600px;
    background-color: $bg-color-secondary;
    border-radius: $card-border-radius;

    .content{
        width: 100%;
        padding: 25px;
        position: relative;

        img{
            width: 100%;
        }

        .btns{
            width: 100%;
            margin-top: 20px;
            @include center;
            justify-content: space-between;
            padding-inline: 3%;

            a{
                @include btn;
                border-radius: $card-border-radius;
            }
        }

        .close-btn{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 4px;
            right: 4px;
            color: white;
            cursor: pointer;
        }
    }
}